# Ignore Codex CLI session logs and artifacts
sessions/**
# Doc
doc/

# ignore everything under .codex
.codex/**

# re-allow directory traversal
!.codex/
!.codex/skills/
!.codex/skills/**
!.codex/prompts/
!.codex/prompts/**
!.codex/rules/
!.codex/rules/**
!.codex/.agent/
!.codex/.agent/**
!.codex/policy
!.codex/policy/**
!.codex/AGENTS.md
